#webpage{
    background-color: #252835;
  }

#FixedBoxFixer {
  height: 10px;
}

#Entwickler {
  position: fixed;
  left: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF8C00;
}

#Donation {
  right: 10px;
  position: fixed;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF8C00;
}

#Headline {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  /* text-shadow:
    -2px -2px 0 #FF8C00,
    0   -2px 0 #FF8C00,
    2px -2px 0 #FF8C00,
    2px  0   0 #FF8C00,
    2px  2px 0 #FF8C00,
    0    2px 0 #FF8C00,
    -2px  2px 0 #FF8C00,
    -2px  0   0 #FF8C00; */
  text-align: center;
  margin-top: 0px;
}
  
#Underline {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -40px;
}

.Buttoncontainer {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 800px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 300px 500px;
}
  
.Button {
    background-color: #ffffff; /* Green */
    border: 1px solid rgba(#252835, 1);
    color: #252835;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

#SelectETHAddy {
    width: 300px;
    height: 32px;
}

#ETHAddress {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
}

/*Loader*/
#lds-hourglass {
    margin-left: 50%;
    margin-right: 50%;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}

#lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(255, 255, 255);
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.switch {
  position: relative;
  display: inline-block;
  margin-top: 2px;
  width: 65px;
  height: 30px;
  margin-left: 60px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color:  #252835;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}


#SwitchBox{
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 740px;
  height: auto;
  display: grid;
  grid-template-rows: 30px 34px;
  grid-template-columns: 185px 185px 185px 185px;
}

#YourBotsHeaderBox{
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 740px;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #252835;
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: 150px 150px 110px 110px 110px 110px;
  grid-template-areas: "Header1 Header2 Header3 Header4 Header5 Header6";
  row-gap: 5px;
}

.YourBotsBox{
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 740px;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 150px 150px 110px 110px 110px 110px;
  grid-template-areas:
    "Faction Rarity ClassTank FieldVNSM FieldVNSF FieldVNSB"
    "Faction Rarity ClassSupport FieldSM FieldSF FieldSB"
    "Faction Rarity ClassRDRS FieldRM FieldRF FieldRB"
    "Faction Rarity ClassMDMS FieldMM FieldMF FieldMB";
  row-gap: 5px;
}

.YourBotsBoxNeutral {
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 740px;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 150px 150px 110px 110px 110px 110px;
  grid-template-areas:
    "Faction Rarity ClassTank NeutralT NeutralT NeutralT"
    "Faction Rarity ClassSupport NeutralS NeutralS NeutralS"
    "Faction Rarity ClassRDRS NeutralR NeutralR NeutralR"
    "Faction Rarity ClassMDMS NeutralM NeutralM NeutralM";
  row-gap: 5px;
}

.Header1{
  grid-area: Header1;
}
.Header2{
  grid-area: Header2;
}
.Header3{
  grid-area: Header3;
}
.Header4{
  grid-area: Header4;
}
.Header5{
  grid-area: Header5;
}
.Header6{
  grid-area: Header6;
}

.Faction {
  grid-area: Faction;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rarity{
  grid-area: Rarity;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NeutralT{
  grid-area: NeutralT;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NeutralS{
  grid-area: NeutralS;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NeutralR{
  grid-area: NeutralR;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NeutralM{
  grid-area: NeutralM;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UICategory {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(125, 125, 125, 0.8);
  text-align: center;
}
